﻿<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Расчет ПГАС</title>
</head>
<body>
<div style="margin:40px;font-family:Oswald">
<img src="/media/pmpu.png"/>
</div>

<div style="padding:40px;margin:40px;border:1px solid #ccc;font-family:Roboto">
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form}} 
        <input type="submit" value="Рассчитать" />
    </form>
</div>
<div style="margin:40px">
<a href="http://pgas.lpql.ru/" style="font-family:Roboto">Посчитать баллы</a>
</div>
</body>